<div class="container">
<div class="well">
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">El proyecto</a></li>
    <li><a href="#tab2" data-toggle="tab">El equipo</a></li>
    <li><a href="#tab3" data-toggle="tab">Contacto</a></li>
    <li><a href="#tab4" data-toggle="tab">Enlaces</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <h3>El Proyecto</h3>
      <p>MAxProg es un proyecto de programación + arte + matemática, enmarcado en Escuelas de Innovación del programa Conectar Igualdad, Argentina.</p>
      <p>Se trata de un proyecto que tiene como objetivos...</p>
    </div>
    <div class="tab-pane" id="tab2">
      <h3>El equipo</h3>
      <p>MAxProg es un proyecto de programación + arte + matemática, enmarcado en Escuelas de Innovación del programa Conectar Igualdad, Argentina.</p>
      <p>Los integrantes del equipo son...</p>
    </div>
    <div class="tab-pane" id="tab3">
      <h3>Contacto</h3>
      <p>MAxProg es un proyecto de programación + arte + matemática, enmarcado en Escuelas de Innovación del programa Conectar Igualdad, Argentina.</p>
      <p>Para contactar con el equipo se puede enviar correo electrónico a ernelopez@gmail.com</p>
    </div>
    <div class="tab-pane" id="tab4">
      <h3>Enlaces</h3>
      <p>Algunos enlaces de interés:
          <ul>
            <li><a href=http://www.processing.org>Processing.org</a></li>
            <li><a href=http://www.conectarigualdad.gob.ar>Conectar Igualdad</a></li>
          </ul>
      </p>
    </div>
  </div>
</div>
</div>
</div>
