<div class="container">
<div class="well">
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">El proyecto</a></li>
    <li><a href="#tab2" data-toggle="tab">El equipo</a></li>
    <li><a href="#tab3" data-toggle="tab">Contacto</a></li>
    <li><a href="#tab4" data-toggle="tab">Enlaces</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <h3>El Proyecto</h3>
      <p> MAxProg es un proyecto enmarcado en Escuelas de Innovación del programa Conectar Igualdad, Argentina. Está destinado a los alumnos de la escuela media, y vincula la matemática, el arte y la programación, mediante el uso de las netbooks en el aula y el aprovechamiento de su potencial. La herramienta básica que utilizamos es el lenguaje Processing. </p>
      </br>
      <h5>¿Qué es el Processing?</h5><p> El Processing es un lenguaje de programación -poderoso y fácil de aprender- diseñado para hacer bocetos digitales de arte y diseño. Sirve para crear y manipular imágenes, fotos, videos, y todo tipo de material gráfico.</p>
      </br>
      <h5>¿Por qué lo elegimos?</h5>
      <ol>
        <li>Porque se pueden obtener resultados muy rápidamente logrando un ciclo de retroalimentación por el entusiasmo, muy corto.</li>
        <li>Porque los desafíos de arte y diseño que se propongan los estudiantes, se transforman en desafíos de programación que se transforman en desafíos de diseño de algoritmos que son desafíos o problemas matemáticos.</li>
        <li>Porque permite hacer cosas lindas, tanto desde la apreciación estética propia del arte como de la que puede desarrollarse en el sentido matemático.</li>
        <li>Porque es software libre.</li>
      </ol>
      </br>
      <h5>Objetivos</h5>
      <p>Que los estudiantes puedan:
        <ol>
          <li>Aprender matemática.</li>
          <li>Apreciar de qué manera la matemática está presente en el arte y el diseño.</li>
          <li>Revalorizar sus capacidades de creadores de arte y diseño.</li>
          <li>Revalorizar sus capacidades de resolvedores de problemas.</li>
          <li>Aprender nociones básicas de programación.</li>
          <li>Contar con un lenguaje común y un ámbito donde compartir sus producciones, posibilitados por las TICs.</li>
        </ol>
      </p>
    </div>
    <div class="tab-pane" id="tab2">
      <h3>El equipo</h3>
      <p>Los integrantes del equipo forman parte del grupo de matemática de Escuelas de Innovación de Conectar Igualdad:</p> </br>
      <h5>Pablo E. Coll</h5> <p>Lic. en Matemática y Dr. en Computación de la UBA. Lleva 27 años buscando, y a veces encontrando, formas de transmitirles el entusiasmo que le produce la matemática a humanos de 5 a 79 años. Profesor del IES N° 1 "Dra. Alicia Moreau de Justo".
Coordinador del Taller de Resolución de Problemas para ingresantes, Universidad Nacional de Moreno. Coodinador del Grupo de matemática de Escuelas de Innovación. Ceramista, coleccionista de cactus y padre de dos varones adolescentes.</p></br>
      <h5>Fernando Chorny</h5> <p> Profesor en Matemática y Astronomía por INSP Dr. Joaquín V. González. Licenciado en Matemática (Universidad CAECE). Profesor en las materias Álgebra II y Análisis II, Facultad de Ingeniería UBA. Profesor en Introducción al Álgebra y al Cálculo en la carrera de Profesorado de Matemática, IES "Dra. Alicia Moreau de Justo". Co-coordinador del Taller de Resolución de Problemas para ingresantes, Universidad Nacional de Moreno. Co-coodinador en el área de matemática, Escuela Del Sol (nivel primario). Co-autor de varios libros de texto de matemática para nivel primario y secundario.</p></br>
      <h5>Ernesto López</h5> <p> Estudiante del Profesorado en Ciencias Matemáticas, Facultad de Ciencias Exactas y Naturales, Universidad de Buenos Aires (FCEyN-UBA). Profesor de Matemática del Ciclo Básico Común de la UBA. Profesor de Matemática e Introducción a la Computación en el Programa Universitario en Cárceles UBA XXII. Profesor de Introducción a la Investigación en la Universidad de Palermo. Profesor del curso de ingreso de la Universidad Nacional de Moreno.</p>
    </div>
    <div class="tab-pane" id="tab3">
      <h3>Contacto</h3>
      <p>Para contactar con el equipo se puede enviar correo electrónico <a href="mailto:cieimatematica@gmail.com">aquí</a>.
      </p>
    </div>
    <div class="tab-pane" id="tab4">
      <h3>Enlaces</h3>
      <p>Algunos enlaces de interés:
          <ul>
            <li><a href=http://www.conectarigualdad.gob.ar>Conectar Igualdad</a></li>
            <li><a href=http://www.processing.org>Processing.org</a></li>
            <li><a href=http://www.openprocessing.org/classrooms/>OpenProcessing Classrooms</a></li>
          </ul>
      </p>
    </div>
  </div>
</div>
</div>
</div>
