<div class="container">
<div class="well">

<p id="notice"><%= notice %></p>

<p>
  <b>Prov:</b>
  <%= @provi.prov %>
</p>


<%= link_to 'Editar', edit_provi_path(@provi) %> |
<%= link_to 'Volver', provis_path %>

</div>
</div>
